<!DOCTYPE html>
<html></html>
<script src="script_name.js"></script>

<head>
<style>
h1 {
  font-size: 60px;
}
p {
  font-size: 20px;
}
h.uppercase {
  text-transform: uppercase;
}
body {
  background-color: rgba(0,0,153,0.8);
}
<title>Page Title</title>
</style>
</head>
<body>

<h1>FIZZBUZZ CHALLENGE</h1>
<p>This page is to be used to practice the FizzBuzz Challenge.</p>
<p>Directions: </p>
<p>Click the 'Add Number' button to begin. You will start at one. When you add a number, the FizzBuzz value of the number is shown. Go until you get the number wrong. Once this happens, reset your score and start over. </p>


<form>
<fieldset>
<legend>Login:</legend>
Username: <input type="text" name="username"><br>
<input type="submit" value="Submit">
</fieldset>
</form>


<script>
 get("http://131.247.210.6:8000/"+ username).then(function(response){
   
   if(response.status == 200){
     const username = response.data.id; //The username that was requested. In this case it is "myUserName".
     const score = response.data.score; //The user's current score.
   }
   else{
     //User "myUserName" not found.
     //response.data is null
     post("http://131.247.210.6:8000/"+ username, { score: 0 }); //create a new user.
   }
 });

function get("http://131.247.210.6:8000/"+ username) {
  return new Promise((resolve, reject) => {
    const http = new XMLHttpRequest();
    http.onload = function() {
      resolve({ status: http.status, data: JSON.parse(http.response) });
    };
    http.open("GET", "http://131.247.210.6:8000/"+ username);
    http.send();
  });
}


 const dataToSend = { score: clicks };
 post("http://131.247.210.6:8000/"+ username, dataToSend).then(function(response){
   switch(response.status){
     case 200:
       //User was updated successfully.
       //response.data will be the same as returned by get(), and should contain the updated data.
       const score = response.data.score;
       break;
     case 201:
       //A new user was successfully created. Otherwise same as status 200.
       const score = response.data.score;
       break;
     case 400:
       //Bad request. Most likely your data that you sent (in this case dataToSend) was formatted incorrectly, or you supplied a negative score value.
       //response.data will be: { Error: "error message" }
       console.error(response.data);
       break;
     case 500:
       //Something went wrong on the server, such as the database got deleted somehow. This should never happen.
       //response.data will be the same as status 400.
       console.error(response.data);
       break;
   }
 });

function post("http://131.247.210.6:8000/"+ username, data) {
  data = JSON.stringify(data);
  return new Promise((resolve, reject) => {
    const http = new XMLHttpRequest();
    http.onload = function() {
      resolve({ status: http.status, data: JSON.parse(http.response) });
    };
    http.open("POST", "http://131.247.210.6:8000/."+ username);
    //Make sure that the server knows we're sending it json data.
    http.setRequestHeader("Content-Type", "application/json");
    http.send(data);
  });
}

/**
 * @typedef {{id: string, score: number}} User
 */

/**
 * @typedef {{Error: string}} Error
 */

/**
 * @typedef {{status: number, data: User|Error}} Response
 */


</script>



<script>
//Main fizzbuzz script. Resets the game and points when the user is wrong.
 var clicks = 0, number = 0
 function onClick() {
 clicks += 1;
 number += 1;
 	if (clicks % 15 == 0) {
    number = "FizzBuzz" ;
    } else if (clicks % 5 == 0) {
    number = "Buzz";
    } else if (clicks % 3 == 0) {
    number = "Fizz";
    } else {
    number = clicks}
 document.getElementById("clicks").innerHTML = clicks;
 document.getElementById("number").innerHTML = number;
 }


</script>
<p>
<button type="button" onClick="onClick()">Add Number</button>
</p>


<p>Number: </p>
<p id="number"></p>


<p>Score <a id="clicks">0</a></p>
</body>
</html>